<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <style>
        .error-message {
            color: red;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="flex justify centre">  
        <div class="flex bordered" style="width: 360px; flex-direction: column;">
            <h2 style="margin-bottom: 0px;">Create an account</h2>
            <h5 style="margin: 0px">Start your free account</h5>
            <% if (errorMessage) { %>
                <p class="error-message"><%= errorMessage %></p>
            <% } %>

            <form id="registrationForm" action="/register" method="POST" onsubmit="return validateForm()">
                <!-- Add id attribute to form elements for easy access in JavaScript -->
                <input id="firstName" type="text" placeholder="Enter your first name" name="first_name" required="true">
                <br>
                <input id="lastName" type="text" placeholder="Enter your last name" name="last_name" required="true">
                <br>
                <input id="email" type="email" placeholder="Enter your email" name="email" required="true">
                <br>
                <input id="username" type="text" placeholder="Enter your username" name="username" required="true">
                <br>
                
                <div class="password-container">
                  <input type="password" name="password" autocomplete="password" required="" class="password-input" placeholder="Password" id="password">
                  <i class="far fa-eye toggle-icon" style="margin-left: -30px; cursor: pointer;"></i>
              </div>
              
                <br>
              
                <div class="password-container">
                    <input id="confirmPassword" type="password" name="confirmPassword" autocomplete="new-password" required="true" class="password-input" placeholder="Confirm Password">
                    <i class="far fa-eye toggle-icon" style="margin-left: -30px; cursor: pointer;"></i>
                </div>
              
                <br>
              
                <button class="secondary" style="width: 100%;" type="submit">Get Started</button>
            </form>
            <h6 style="margin:0">Already have an account? <a href="/login" style="color: var(--primary-700, #6941C6); font-weight: 600; font-size: 14px;">Log in</a></h6>
            
            
  <script>
    const toggleIcons = document.querySelectorAll('.toggle-icon');
    const passwordInputs = document.querySelectorAll('.password-input');

    toggleIcons.forEach((toggleIcon, index) => {
        toggleIcon.addEventListener('click', function () {
            const passwordInput = passwordInputs[index];
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            this.classList.toggle('fa-eye-slash');
        });
    });

    function validateFirstName() {
        var firstName = document.getElementById('firstName').value;

        if (firstName.length < 2 || firstName.length > 30) {
          document.querySelector(".error-message").textContent = 'First name should be between 2 and 30 characters'
            return false;
        }
        return true;
    }

    function validateLastName() {
        var lastName = document.getElementById('lastName').value;

        if (lastName.length < 2 || lastName.length > 30) {
            document.querySelector(".error-message").textContent = 'Last name should be between 2 and 30 characters'
            return false;
        }
        return true;
    }

    function validateForm() {
        if (!validateFirstName() || !validateLastName()) {
            return false;
        }

        // Add more validation as needed

        return true;
    }
</script>
          
        </body>
    </html>
