<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WY5PDZBQFT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WY5PDZBQFT');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/navbar'); %>
</head>
<body>
    <div style="width: 80vw; position: relative; left: 10vw; display: flex; flex-direction: column; align-items: center; position: relative;">
        
        <h2 style="margin-top: -30px;">Privacy Policy</h2>

        <section style="width: 800px">
        <p style="width:100%; text-align:centre; ">This Privacy Policy outlines how SoluPrep AI ("we," "us," or "our") collects, uses, and protects the personal information of users ("you" or "your") when using our platform.</p>

        <h3>1. Information We Collect</h3>
        <p style="width:100%; text-align:centre; ">1.1 Personal Information: We may collect personal information such as your name, email address, date of birth, and other details provided during account registration or when using specific features of the platform.</p>
        <p style="width:100%; text-align:centre; ">1.2 Usage Data: We may collect information about how you interact with the platform, including pages visited, features used, and other usage patterns. This data helps us understand user behavior and improve our services.</p>

        <h3>2. How We Use Your Information</h3>
        <p style="width:100%; text-align:centre; ">2.1 Personalization: We use your information to personalize your experience on the platform, providing content and features tailored to your preferences. This enhances your overall user experience.</p>
        <p style="width:100%; text-align:centre; ">2.2 Communication: We may use your email address to send important updates, notifications, or information related to your account. You can opt-out of certain communications through your account settings.</p>

        <h3>3. Data Security</h3>
        <p style="width:100%; text-align:centre; ">3.1 We prioritize the security of your personal information and implement industry-standard measures to protect it from unauthorized access, disclosure, or alteration.</p>
        <p style="width:100%; text-align:centre; ">3.2 However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security. By using the platform, you acknowledge and accept this risk.</p>

        <h3>4. Third-Party Services</h3>
        <p style="width:100%; text-align:centre; ">4.1 We may use third-party services to enhance the platform's functionality. These third parties may have access to your information, but only to perform specific tasks on our behalf, such as hosting, analytics, or customer support.</p>
        <p style="width:100%; text-align:centre; ">4.2 We do not sell, trade, or transfer your personal information to outside parties without your consent. Any third-party services used are selected based on their commitment to data security and privacy.</p>

        <h3>5. Cookies and Tracking Technologies</h3>
        <p style="width:100%; text-align:centre; ">5.1 We use cookies and similar technologies to enhance your browsing experience. Cookies are small text files stored on your device that help us analyze usage patterns and provide personalized content.</p>
        <p style="width:100%; text-align:centre; ">5.2 You can choose to disable cookies through your browser settings, but this may affect certain features of the platform. By continuing to use the platform, you consent to the use of cookies as described in this Privacy Policy.</p>

        <h3>6. Changes to the Privacy Policy</h3>
        <p style="width:100%; text-align:centre; ">6.1 We may update this Privacy Policy to reflect changes in our data practices or legal requirements. We will notify you of any significant changes through the platform or via email.</p>
        <p style="width:100%; text-align:centre; ">6.2 Your continued use of the platform after such modifications constitutes acceptance of the updated Privacy Policy. It is your responsibility to review the Privacy Policy regularly to stay informed about how we collect, use, and protect your information.</p>

        <h3>7. User Rights</h3>
        <p style="width:100%; text-align:centre; ">7.1 You have the right to access, correct, or delete your personal information. You can manage your account settings to update your information or contact us for assistance.</p>
        <p style="width:100%; text-align:centre; ">7.2 You can request information about the personal data we hold about you and exercise your right to data portability. To exercise these rights, please contact us at <a href = "mailto: solu@soluprep.co.uk">solu@soluprep.co.uk</a>.</p>
            <h3>8. Contact Information</h3>
            <p style="width:100%; text-align:centre; ">8.1 If you have any questions or concerns about these Terms, please contact us at <a href = "mailto: solu@soluprep.co.uk">solu@soluprep.co.uk</a></p>
        <br>
            <p style="width:100%; text-align:centre; ">Last Updated: 20th November 2023</p>
        </section>

        </div>

    
    <%- include('../partials/footer'); %>
</body>

</html>