
<body>
    <footer>
        <div class="footer_contiainer">
            <div class="list_containter">
                <h1>Product</h1>
                <a href="/about">Overview</a>
                <a>Features</a>
                <a href="/pricing">Pricing</a>
                <a>Tutorials</a>
                
            </div>
            <div class="list_containter">
                <h1>Legal</h1>
                <a href="/legal">Terms</a>
                <a href="/privacy">Privacy</a>
                <a href="/privacy">Cookies</a>
                <a href="/legal">Contact</a>
            </div>
            
            
        </div>
        <div class="copyrightFrame">
            <h2>Copyright © 2023 SoluPrep AI. All rights reserved.</h2>
                
        </div>

        
    </footer>
</body>
