<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoluPrep AI</title>
    <link rel="icon" type="image/x-icon" href="/images/Logomark.ico">
    <script src="/js/colorScheme.js"></script>
</head>
<body>
    <nav class="navbar seperate floating">
        <div class="flex">
        <div class="logo">
            <a class="logo" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="48" viewBox="0 0 29 48" fill="none">
                <rect y="19.2" width="9.59998" height="9.59999" fill="#B692F6"/>
                <rect x="28.8" y="28.8" width="9.6" height="9.59999" transform="rotate(180 28.8 28.8)" fill="#B692F6"/>
                <path d="M9.59998 19.2L19.2 9.59998V19.2L9.59998 28.7999V19.2Z" fill="#E9D7FE"/>
                <path d="M19.2 28.8L9.59997 38.4L9.59997 28.8L19.2 19.2L19.2 28.8Z" fill="#D6BBFB"/>
                <path d="M0 19.2L19.2 0V9.59999L9.59998 19.2H0Z" fill="#B692F6"/>
                <path d="M28.7999 28.8L9.59995 48L9.59995 38.4L19.1999 28.8L28.7999 28.8Z" fill="#B692F6"/>
              </svg>
            SoluPrep AI
        </a>
        </div>
        
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
    </div>
        <div class="flex nav-buttons">
            <label class="ui-switch">
                <input type="checkbox" checked id="modeSwitch1">
                <div class="slider">
                    <div class="circle"></div>
                </div>
            </label>
            <!-- <a href="/login">Login</a> -->
            <button class="secondary" onclick="window.location.href='/login'">Login</button>

            
        </div>

        <button class="nav-menu-button" style="background-color: transparent;" onclick="menuToggle()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M3 12H21M3 6H21M3 18H21" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            
        <div class="nav-menu">

            <ul class="nav-menu-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div style="display: flex;">
                
            <label class="ui-switch">
                <input type="checkbox" checked id="modeSwitch2">
                <div class="slider">
                    <div class="circle"></div>
                </div>
            </label>
        </div>
            <!-- <button class="secondary" style="width: calc(100% - 20px)" onclick="window.location.href='/register'">Sign Up</button> -->
            <button class="secondary" style="width: calc(100% - 20px); background-color: #F9F5FF; color: #6941C6; border: none;" onclick="window.location.href='/login'">Login</button>
            
           
        </div>
        

    </nav>
</body>
</html>


<script>
     if (window.innerWidth <= 768) {
        document.body.style.zoom = "89%";
      }
    // Variable to track whether the menu is open or closed
    let menuOpen = false;

    // Function to toggle the menu
    function menuToggle() {
        // Selecting necessary elements
        const menuButton = document.querySelector(".nav-menu-button");
        const menu = document.querySelector(".nav-menu");
        const navBar = document.querySelector(".navbar");
        const elementsToToggle = document.querySelectorAll(":not(nav):not(nav *)");
        const body = document.body;

        if (menuOpen) {
            // Closing the menu
            menuButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> <path d="M3 12H21M3 6H21M3 18H21" stroke="#667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>';

            // Restoring scroll position and visibility of elements

            body.style.overflow = 'scroll';
            elementsToToggle.forEach(element => {
                element.style.visibility = "visible";
            });

            // Hiding the menu
            menu.style.visibility = "hidden";
            menuOpen = false;
        } else {
            // Opening the menu
            menuButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> <path d="M18 6L6 18M6 6L18 18" stroke="#667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>';
            menu.style.visibility = "visible";
            navBar.style.visibility = "visible";

            // Disabling scrolling and hiding other elements
            body.style.overflow = 'hidden';
            elementsToToggle.forEach(element => {
                element.style.visibility = "hidden";
            });

            menuOpen = true;
        }
    }
</script>



<style>
    /* switch settings 👇 */

.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

@media (max-width: 768px) {
        body{
            width: 100vw;
            position: absolute;
            left: 30px;
            top: 0px;
            margin: 0; 
        }
    }
</style>