<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WY5PDZBQFT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WY5PDZBQFT');
</script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoluPrep AI</title>
    <script src="/js/colorScheme.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/Logomark.ico">
</head>
<body>
    <nav class="authenticated_navbar" >
        <div class="authenticated_navbar_contents">

        <div class="logo" style="margin-bottom: 2rem;  width: 100%; justify-content: center; position: relative; left: -20px;">
            
            <label class="ui-switch" >
                <input type="checkbox" checked id="modeSwitch">
                <div class="slider">
                    <div class="circle"></div>
                </div>
            </label>

            <a class="logo" href="/" style="position: relative; left: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="48" viewBox="0 0 29 48" fill="none">
                <rect y="19.2" width="9.59998" height="9.59999" fill="#B692F6"/>
                <rect x="28.8" y="28.8" width="9.6" height="9.59999" transform="rotate(180 28.8 28.8)" fill="#B692F6"/>
                <path d="M9.59998 19.2L19.2 9.59998V19.2L9.59998 28.7999V19.2Z" fill="#E9D7FE"/>
                <path d="M19.2 28.8L9.59997 38.4L9.59997 28.8L19.2 19.2L19.2 28.8Z" fill="#D6BBFB"/>
                <path d="M0 19.2L19.2 0V9.59999L9.59998 19.2H0Z" fill="#B692F6"/>
                <path d="M28.7999 28.8L9.59995 48L9.59995 38.4L19.1999 28.8L28.7999 28.8Z" fill="#B692F6"/>
              </svg>
            SoluPrep AI
        </a>
        <div id="menuToggle" >
            <input id="checkbox" type="checkbox">
            <label class="toggle" for="checkbox">
                <div class="bar bar--top"></div>
                <div class="bar bar--middle"></div>
                <div class="bar bar--bottom"></div>
            </label>
          </div>
        </div>

        <button class="authenticated_navbar_item_base" onclick="window.location.href='/dashboard'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M18 20V10M12 20V4M6 20V14" stroke="var(--button-svg)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            Dashboard
        </button>

        <button class="authenticated_navbar_item_base" onclick="window.location.href='/user/quizzes'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--button-svg)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            Quizzes
        </button>

        <button class="authenticated_navbar_item_base" onclick="window.location.href='/user/exams'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--button-svg)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                <path d="M14 2H6C5.46957 2 4.96086 2.21071 4.58579 2.58579C4.21071 2.96086 4 3.46957 4 4V20C4 20.5304 4.21071 21.0391 4.58579 21.4142C4.96086 21.7893 5.46957 22 6 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V8M14 2L20 8M14 2V8H20M16 13H8M16 17H8M10 9H8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            Exam Papers
        </button>
<!-- 
        <button class="authenticated_navbar_item_base" onclick="window.location.href='/dashboard'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M12 7C12 5.93913 11.5786 4.92172 10.8284 4.17157C10.0783 3.42143 9.06087 3 8 3H2V18H9C9.79565 18 10.5587 18.3161 11.1213 18.8787C11.6839 19.4413 12 20.2044 12 21M12 7V21M12 7C12 5.93913 12.4214 4.92172 13.1716 4.17157C13.9217 3.42143 14.9391 3 16 3H22V18H15C14.2044 18 13.4413 18.3161 12.8787 18.8787C12.3161 19.4413 12 20.2044 12 21" stroke="#667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            Revision
        </button> -->
    </div>

    

    <div class="authenticated_navbar_bottom_contents">
        <div class="nav_featured_card">
            <div class="flex" style="width:100%;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
            </div>
            <h1>
                Question Usage
            </h1>
    
            <p>You have used 90% of your available questions. Need more?</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="247" height="8" viewBox="0 0 247 8" fill="none">
                <rect width="247" height="8" rx="4" fill="#F4EBFF"/>
                <rect width="calc(247 * 0.9)" height="8" rx="4" fill="#7F56D9"/>
              </svg>
    
        </div>   
       

        <div class="nav_profile">
            <button class="profile_icon" onclick="window.location.href=`/user/profile`">A</button>
            <div class="nav_profile_account">
                <% if (user.username) { %>
                    <h1 class="username" style="margin: 0;"><%= user.first_name%> <%=user.last_name %></h1>
                  <% } %>
                  <% if (user.email) { %>
                    <h2 style="margin: 0;"><%= user.email %></h2>
                  <% } %>

            </div>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" onclick="window.location.href = '/logout'">
                <path d="M7.5 17.5H4.16667C3.72464 17.5 3.30072 17.3244 2.98816 17.0118C2.67559 16.6993 2.5 16.2754 2.5 15.8333V4.16667C2.5 3.72464 2.67559 3.30072 2.98816 2.98816C3.30072 2.67559 3.72464 2.5 4.16667 2.5H7.5M13.3333 14.1667L17.5 10M17.5 10L13.3333 5.83333M17.5 10H7.5" stroke="#667085" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

        </div>

    </div>
    </nav>

<script>
    let menuOpen = false;

    function menuToggle(){
        const menuButton = document.querySelector(".nav-menu-button");
        const menu = document.querySelector(".nav-menu");
        if (menuOpen){
            menuButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> <path d="M3 12H21M3 6H21M3 18H21" stroke="#667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
            menu.style.visibility = "hidden"
            window.scrollTo(0, 0);
            document.body.style.overflow = 'scroll';
            menuOpen = false;
        }else{
            menuButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> <path d="M18 6L6 18M6 6L18 18" stroke="#667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
            menu.style.visibility = "visible"
            window.scrollTo(document.END)
            document.body.style.overflow = 'hidden';
            menuOpen = true;
        }

    }

    function initialize(){
        username = document.querySelector(".username").textContent;
        profileIcon = document.querySelector(".profile_icon")
        profileIcon.textContent = username[0]

    }
    initialize()

    var rippleEffect = (function(){
    var className, ripple;
    
    className = 'btns';
    ripple = document.createElement("div")
    ripple.classList.add('ripples')
    
    document.addEventListener('mousedown', function(e) {
        if (e.target.classList.contains(className)) {
        ripple.setAttribute("style", "top: " + e.offsetY + "px; left: " + e.offsetX + "px");
        e.target.appendChild(ripple)
        }
    })
    })();

document.addEventListener('DOMContentLoaded', function () {
    const checkbox = document.getElementById('checkbox');
    const navbarContents = document.querySelector('.authenticated_navbar');
    const line_wobble_frame = document.querySelector('.line-wobble-frame');
    const main = document.querySelector('.main');
    const hamburger = document.querySelector('#menuToggle');

    // Function to check the checkbox based on screen width
    function checkCheckboxByScreenWidth() {
        if (window.innerWidth < 1024) { // Adjust the screen width threshold as needed
            checkbox.checked = true;
            navbarContents.classList.add('hide-navbar');
            if (main) {
                main.style.left = '0px';
                main.style.width = '100%';
                hamburger.style.left = "99px";
                hamburger.style.top = "-33px";
                if (line_wobble_frame){
                        line_wobble_frame.style.width = '100%';
                        line_wobble_frame.style.left = '0px';
                    }
            }
        } else {
            const savedCheckboxState = localStorage.getItem('checkboxState');
            checkbox.checked = savedCheckboxState === 'checked';

            if (checkbox.checked) {
                navbarContents.classList.add('hide-navbar');
                if (main) {
                    main.style.left = '0px';
                    main.style.width = '100%';
                    if (line_wobble_frame){
                        line_wobble_frame.style.width = '100%';
                        line_wobble_frame.style.left = '0px';
                    }
                    
                    hamburger.style.left = "99px";
                    hamburger.style.top = "-33px";
                }
            } else {
                navbarContents.classList.remove('hide-navbar');
                if (main) {
                    main.style.left = '345px';
                    main.style.width = 'calc(100% - 345px)';
                    if (line_wobble_frame){
                        line_wobble_frame.style.width = 'calc(100% - 345px)';
                        line_wobble_frame.style.left = '345px';
                    }
                    
                    hamburger.style.left = "20px";
                    hamburger.style.top = "0px";
                }
            }
        }
    }

    // Check the checkbox on page load
    checkCheckboxByScreenWidth();

    // Attach an event listener to the checkbox
    checkbox.addEventListener('change', function () {
        if (this.checked) {
            navbarContents.classList.add('hide-navbar');
            if (main) {
                main.style.left = '0px';
                main.style.width = '100%';
                hamburger.style.left = "99px";
                hamburger.style.top = "-33px";
                if (line_wobble_frame){
                        line_wobble_frame.style.width = '100%';
                        line_wobble_frame.style.left = '0px';
                    }
            }
        } else {
            navbarContents.classList.remove('hide-navbar');
            if (main) {
                main.style.left = '345px';
                main.style.width = 'calc(100% - 345px)';
                hamburger.style.left = "20px";
                hamburger.style.top = "0px";
                if (line_wobble_frame){
                        line_wobble_frame.style.width = 'calc(100% - 345px)';
                        line_wobble_frame.style.left = '345px';
                    }
            }
        }

        // Save checkbox state to local storage
        localStorage.setItem('checkboxState', this.checked ? 'checked' : 'unchecked');
    });

    // Attach a resize event listener to update the checkbox on window resize
    window.addEventListener('resize', function () {
        checkCheckboxByScreenWidth();
    });
});



</script>

<style>
    #menuToggle{
        position: relative;
        z-index: 100;
        
        /* visibility: hidden; */
    }
    #checkbox {
    display: none;
    }

    .toggle {
    position: relative;
    width: 20px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
    }

    .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #8b898d;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
    }

    /***** Collapse Animation *****/

    .bar--top {
    bottom: calc(25% + 11px + 4px/ 2);
    transition-property: bottom,margin,transform;
    transition-delay: calc(0s + 0.35s),0s,0s;
    }

    .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: top,opacity;
    transition-duration: 0.35s,0s;
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
    }

    .bar--bottom {
    top: calc(25% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
    }

    #checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 11px - 4px);
    margin-bottom: calc(11px + 4px/ 2);
    transform: rotate(45deg);
    transition-delay: calc(0s + 0.35s * .3),calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
    }

    #checkbox:checked + .toggle .bar--middle {
    top: calc(50% + 11px);
    opacity: 0;
    transition-duration: 0.35s,0s;
    transition-delay: 0s,calc(0s + 0.35s);
    }

    #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-45deg);
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
    }

    .ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 38px;
  --switch-height: 15px;
  /* circle */
  --circle-diameter: 26px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

</style>