<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/AiQuestionGenerator.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <script src="/js/index.js" defer></script>
    <script src="/js/AiQuestionGenerator.js" defer></script>
    <title>Exam Builder</title>
</head>
<body>
  <header>
    <label class="bar" for="check" id="hamburgerButton">
      <input type="checkbox" id="check" onclick="hamburgerButton()">

      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
  </label>
      <h1 class="title">Exam Builder</h1>

      
  </header>

  <div class="notification">
      <p>Welcome back, Justin 👋</p>
      <span class = "notification-progress"></span>
  </div>

      <!-- <div class="placeholder shimmer">
          <div class="faux-image-wrapper">
            <div class="faux-image"></div>
          </div>
          <div class="faux-text"></div>
          <div class="faux-text short"></div>
        </div> -->
  
        <div class="sidePanel">
            <button class="sidePanelDashboardButton">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="dashboard"><path d="M8.5 3h-3a2.5 2.5 0 0 0 0 5h3a2.5 2.5 0 0 0 0-5zm0 4h-3a1.5 1.5 0 0 1 0-3h3a1.5 1.5 0 0 1 0 3zm0 3h-3A2.5 2.5 0 0 0 3 12.5v6A2.5 2.5 0 0 0 5.5 21h3a2.5 2.5 0 0 0 2.5-2.5v-6A2.5 2.5 0 0 0 8.5 10zm1.5 8.5A1.5 1.5 0 0 1 8.5 20h-3A1.5 1.5 0 0 1 4 18.5v-6A1.5 1.5 0 0 1 5.5 11h3a1.5 1.5 0 0 1 1.5 1.5zm8.5-2.5h-3a2.5 2.5 0 0 0 0 5h3a2.5 2.5 0 0 0 0-5zm0 4h-3a1.5 1.5 0 0 1 0-3h3a1.5 1.5 0 0 1 0 3zm0-17h-3A2.5 2.5 0 0 0 13 5.5v6a2.5 2.5 0 0 0 2.5 2.5h3a2.5 2.5 0 0 0 2.5-2.5v-6A2.5 2.5 0 0 0 18.5 3zm1.5 8.5a1.5 1.5 0 0 1-1.5 1.5h-3a1.5 1.5 0 0 1-1.5-1.5v-6A1.5 1.5 0 0 1 15.5 4h3A1.5 1.5 0 0 1 20 5.5z"></path></svg>
              <span class="sidePanelButtonText" onclick="redirectDashboard()">Dashboard</span>
            </button>
    
            <h2 class="sidePanelButtonText" style="font-size: 23px;">Build Papers</h2>
    
            <button class="sidePanelExamPaperGeneratorButton" id="currentLocation">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" id="test"><path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M2 0v16h12V3.283l-.15-.146L10.645 0H2zm1 1h7v2.992h3V15H3V1zm8 .748 1.271 1.244H11V1.748zM4 6v1h1V6H4zm2 0v1h6V6H6zM4 9v1h1V9H4zm2 0v1h6V9H6zm-2 3v1h1v-1H4zm2 0v1h6v-1H6z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible"></path></svg>
              <span class="sidePanelButtonText" onclick="redirectExamPaperGenerator()">Exam Paper Generator</span>
            </button>
  
          <button class="sidePanelAIQuestionGeneratorButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" id="test"><path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M2 0v16h12V3.283l-.15-.146L10.645 0H2zm1 1h7v2.992h3V15H3V1zm8 .748 1.271 1.244H11V1.748zM4 6v1h1V6H4zm2 0v1h6V6H6zM4 9v1h1V9H4zm2 0v1h6V9H6zm-2 3v1h1v-1H4zm2 0v1h6v-1H6z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible"></path></svg>
            <span class="sidePanelButtonText">AI Question Generator</span>
          </button>
  
          <h2 class="sidePanelButtonText" style="font-size: 23px;">Quizzes</h2>
  
          <button class="sidePanelAIQuizGeneratorButton">
            <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 32 32" id="online-education-multiple-quiz"><path d="m24.572 27.901-1.733 1a.999.999 0 0 1-1.495-.962l.83-8.562a1 1 0 0 1 1.41-.814l7.83 3.562a1 1 0 0 1 .086 1.776l-1.732 1 1.5 2.599a3 3 0 1 1-5.196 3l-1.5-2.599Zm4.245-4.76-4.787-2.178-.508 5.235.916-.529a1 1 0 0 1 1.366.366l2 3.465a1 1 0 0 0 1.732-1l-2-3.465a1 1 0 0 1 .366-1.366l.915-.528ZM18.473 23.34l1.732-1a1 1 0 0 0-1-1.733l-1.732 1a1 1 0 0 0 1 1.732ZM27.134 18.34l1.732-1a1 1 0 0 0-1-1.733l-1.732 1a1 1 0 0 0 1 1.732ZM22.036 15.509l-1-1.732a1 1 0 0 0-1.732 1l1 1.732a1 1 0 0 0 1.732-1ZM2 9V3a1 1 0 0 1 1-1V1v1a1 1 0 0 1 1 1v6a1 1 0 0 0 2 0V3a3 3 0 0 0-3-3v1-1a3 3 0 0 0-3 3v6a1 1 0 0 0 2 0ZM2 20v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"></path><path d="M1 6.5h3.5a1 1 0 0 0 0-2H1a1 1 0 0 0 0 2ZM5 15h1a3 3 0 0 1-3 3H1a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h2a3 3 0 0 1 3 3H5h1-1Zm-1 0a1 1 0 0 0-1-1H2v2h1a1 1 0 0 0 1-1h1-1Z"></path><path d="M5 19h1a3 3 0 0 1-3 3H1a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h2a3 3 0 0 1 3 3H5h1-1Zm-1 0a1 1 0 0 0-1-1H2v2h1a1 1 0 0 0 1-1h1-1ZM16.999 17a3 3 0 0 0-3-3h-3a3 3 0 0 0-3 3h1-1a3 3 0 0 0 3 3h3a3 3 0 0 0 3-3h-1 1Zm-1 0h-1a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1h-1 1a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1h1ZM31 5h1a3 3 0 0 0-3-3H11a2.998 2.998 0 0 0-3 3h1-1a3 3 0 0 0 3 3h18a2.998 2.998 0 0 0 3-3h-1Zm-1 0h1-1a.999.999 0 0 1-1 1H11a1 1 0 0 1-1-1H9h1a.999.999 0 0 1 1-1h18a1 1 0 0 1 1 1Z"></path></svg>
            <span class="sidePanelButtonText">AI Quiz maker Generator</span>
          </button>
  
          <button class="sidePanelAIQuestionGeneratorButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="subject"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M13 17H5c-.55 0-1 .45-1 1s.45 1 1 1h8c.55 0 1-.45 1-1s-.45-1-1-1zm6-8H5c-.55 0-1 .45-1 1s.45 1 1 1h14c.55 0 1-.45 1-1s-.45-1-1-1zM5 15h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1s.45 1 1 1zM4 6c0 .55.45 1 1 1h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1z"></path></svg>
            <span class="sidePanelButtonText">Content Summarizer</span>
          </button>
  
          <button class="settings_button">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon"><g stroke-width="1.5" stroke-linecap="round" stroke="#5d41de"><circle r="2.5" cy="10" cx="10"></circle><path fill-rule="evenodd" d="m8.39079 2.80235c.53842-1.51424 2.67991-1.51424 3.21831-.00001.3392.95358 1.4284 1.40477 2.3425.97027 1.4514-.68995 2.9657.82427 2.2758 2.27575-.4345.91407.0166 2.00334.9702 2.34248 1.5143.53842 1.5143 2.67996 0 3.21836-.9536.3391-1.4047 1.4284-.9702 2.3425.6899 1.4514-.8244 2.9656-2.2758 2.2757-.9141-.4345-2.0033.0167-2.3425.9703-.5384 1.5142-2.67989 1.5142-3.21831 0-.33914-.9536-1.4284-1.4048-2.34247-.9703-1.45148.6899-2.96571-.8243-2.27575-2.2757.43449-.9141-.01669-2.0034-.97028-2.3425-1.51422-.5384-1.51422-2.67994.00001-3.21836.95358-.33914 1.40476-1.42841.97027-2.34248-.68996-1.45148.82427-2.9657 2.27575-2.27575.91407.4345 2.00333-.01669 2.34247-.97026z" clip-rule="evenodd"></path></g></svg>
              <span class="lable">Settings</span>
          </button>
  
          
        </div>

        <main>

            <div class="contentBox" style="width: 500px; height:700px; position: relative; left:calc(50% - 250px); margin-top: 20px; top:calc(50% - 390px)">
             
              <h1 class="contentBoxSubtitles">Level</h1>

              <div class="radio-input" id="subjectLevel">
                <label>
                <input type="radio" id="value-1" name="level-radio" value="GCSE">
                <span>GCSE</span>
                </label>
                <label>
                  <input type="radio" id="value-2" name="level-radio" value="A Level">
                <span>A Level</span>
                </label>
                <span class="selection"></span>
              </div>

              <h1 class="contentBoxSubtitles">Exam Board</h1>

              <div class="radio-input" id="examBoard">
                <label>
                <input type="radio" id="OCR" name="board-radio" value="OCR">
                <span>OCR</span>
                </label>
                <label>
                  <input type="radio" id="value-2" name="board-radio" value="Edexel">
                <span>Edexel</span>
                </label>
                <label>
                  <input type="radio" id="value-3" name="board-radio" value="AQA">
                <span>AQA</span>
                </label>
                <span class="selection-3"></span>
              </div>

              <h1 class="contentBoxSubtitles">Subject</h1>

              <div class="subjectSelect">
                <label>
                    <select name="subjectSelection" id="subjectSelection">
                        <option>Mathematics</option>
                        <option>Computer Science</option>
                        <option>Sociology</option>
                        <option>English</option>
                        <option>Physics</option>
                        <option>Chemistry</option>
                    </select>
                </label>
                
              </div>

              <h1 class="contentBoxSubtitles">Topics</h1>

              <div class="subjectSelect" style="width: fit-content">
                  
                  <label>
                      <!-- Add a new select element for topics -->
                      <select name="topicSelection" id="topicSelection">
                        <option>Binomial Expansion</option>
                        <option>Proof</option>
                        <option>Trigonometry</option>
                        <option>Exponentials and Logarithms</option>
                        <option>Differentiation</option>
                        <option>Integration</option>
                      </select>
                  </label>
                  <button class="btn" onclick="addTopic()">Add Topic</button>
              </div>


              <button class="cssbuttons-io-button" id="generatePaper" onclick="generateChosenTopics()"> Create Paper
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                </div>
              </button>
              

            </div>


            <div class="generateMenu" style="visibility: hidden;"> 

              <button style="position: relative; top:500px; z-index: 10;" class="cssbuttons-io-button" id="generatePaper" onclick="generatePaper()"> Generate Paper
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
                </div>
              </button>

              <div class="generateMenuFrame">
                
                <h1 class="subtitle">Topics</h1>
                <div class="chosenTopicsContainer">
                  
                  <h1 class="contentBoxSubtitles">Topics</h1>
                </div>
                <input type="number" name="numberOfQuestions" id="numberOfQuestions" class="numberInput" placeholder="Number Of Questions">
                
                
              </div>

            </div>
            
            

            

            
        </main>

        



    
</body>
</html>

<script>
  // Simulated array of chosen topics
  const chosenTopics = [];

  function addTopic(){
    let topic = document.querySelector("#topicSelection").value
    if (!chosenTopics.includes(topic)){
      chosenTopics.push(topic)
    }

    console.log(chosenTopics)

  }

  function generateChosenTopics() {
      const chosenTopicsContainer = document.querySelector('.chosenTopicsContainer');
      
    
      chosenTopicsContainer.innerHTML = '';

      chosenTopics.forEach(topic => {
          const topicElement = document.createElement('div');
          topicElement.classList.add('chosenTopic');
          topicElement.textContent = topic;
          
          chosenTopicsContainer.appendChild(topicElement);
      });


      if (chosenTopics.length > 0) {
        document.querySelector(".generateMenu").style.visibility = "visible";
      }
      
  }

function generatePaper() {
  numberOfQuestions = document.querySelector("#numberOfQuestions").value;

  subjectLevelInputs = document.querySelectorAll('#subjectLevel input[type="radio"]');
  let selectedSubjectLevel = "";

  subjectLevelInputs.forEach(input => {
    if (input.checked) {
      selectedSubjectLevel = input.value;
    }
  });

  subjectSelection = document.querySelector("#subjectSelection").value;

  examBoardInputs = document.querySelectorAll('#examBoard input[type="radio"]');
  let selectedExamBoard = "";

  examBoardInputs.forEach(input => {
    if (input.checked) {
      selectedExamBoard = input.value;
    }
  });

  console.log(`Number Of Questions: ${numberOfQuestions}\n Subject Level: ${selectedSubjectLevel}\n Exam Board: ${selectedExamBoard}\n Subject: ${subjectSelection}\n`);

  // Replace this URL with the actual URL where your Flask app is running
const apiUrl = 'http://localhost:5000/generate_multiple_choice';

// Example input data
const inputData = {
  amountOfQuestions: numberOfQuestions,
  subject: selectedSubjectLevel,
  topics: chosenTopics,
  examBoard: selectedExamBoard,
  provideSolutions: true
};

fetch(apiUrl, {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(inputData)
})
  .then(response => response.json())
  .then(data => {
    console.log(data.result);
    sessionStorage.setItem("result", data.result);
  })
  .catch(error => {
    console.error('Error:', error);
  });
}


</script>

<style>
  * {
    box-sizing: border-box;
  }
  .placeholder {
    max-width: 300px;
  }
  .faux-image-wrapper {
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 100%; /* Or height: 200px; */
  }
  .faux-image {
    background: #dddddd;
    border-radius: 4px;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .faux-text {
    background: #dddddd;
    border-radius: 4px;
    height: 20px;
    margin-bottom: 5px;
  }

  .faux-text.short {
    width: 75%;
  }

  .shimmer {
    overflow: hidden;
    position: relative;
  }

  .shimmer::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 100%;
    width: 100%;
    z-index: 1;
    animation: shimmer 1s infinite;
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

</style>