<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MB65CC4F');</script>

    
    <!-- Google tag (gtag.js) -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WY5PDZBQFT"></script>

    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-WY5PDZBQFT');
    </script> 

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Soluprep AI is your go-to platform for AI-powered education, offering resources for A-level and GCSE students. Explore interactive quizzes, personalized insights, and AI-generated exam papers to enhance your learning experience.">
    <meta name="keywords" content="soluprep, soluprepAI, education, alevel, gcse, AI">
    <meta name="author" content="Justin Brown">
    <meta property="og:title" content="SoluPrep AI - Elevate Education, With AI">
    <meta property="og:description" content="SoluprepAI is your go-to platform for AI-powered education, offering resources for A-level and GCSE students. Explore interactive quizzes, personalized insights, and AI-generated exam papers to enhance your learning experience.">
    <meta property="og:url" content="https://app.soluprep.co.uk/">
    <script type="application/ld+json">

        {
          "@context": "https://schema.org/",
          "@type": "WebSite",
          "name": "SoluPrep AI",
          "url": "https://app.soluprep.co.uk/",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://app.soluprep.co.uk/{search_term_string}",
            "query-input": "required name=search_term_string"
          },
          "author": {
            "@type": "Person",
            "name": "Justin Brown"
          }
        }
    </script>

        
    <%- include('../partials/navbar'); %>
</head>


<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB65CC4F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
        <div class="frame seperate">
            <!-- <div class="badgeGroup">
                <div class="badge">
                    <button class="badgeBase">
                        New Feature!
                    
                        Check out the NEW revision section
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M3.33333 8.00001H12.6667M12.6667 8.00001L8 3.33334M12.6667 8.00001L8 12.6667" stroke="#9E77ED" stroke-width="1.3333" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </button>
                </div>
                
            </div> -->

            <h1>Elevate Education, With AI</h1>
            <h4 class="textbox">Discover the future of learning with our AI powered educational tool. Whether you’re a student gearing up for exams or an educator seeking smarter teaching resources, we have you covered.</h4>

            <button class="success" style="width: 300px;" onclick="window.location.href = '/pricing'">Try Now</button>
        </div>

        <div class="frame seperate">
            <h2>Unlocking Leaning, One Question At A Time</h2>

            <h4 class="textbox" style="margin-top: 0px;">Experience interactive quizzes, personalized insights, and instant guidance to unleash your potential like never before!</h4>
            
            <h5 style="color: #6941C6; font-weight: bold; font-family: Inter; margin-top:0px; margin-bottom: 0px;">Features</h5>

            <div class="grid">
                <div class="grid-item">
                    <div class="featured-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                        <rect x="4" y="4" width="48" height="48" rx="24" fill="#F4EBFF"/>
                        <rect x="4" y="4" width="48" height="48" rx="24" stroke="#F9F5FF" stroke-width="8"/>
                        <div class="featured-item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="featured-item-icon">
                            <g clip-path="url(#clip0_1_25524)">
                              <path d="M9 1V4M15 1V4M9 20V23M15 20V23M20 9H23M20 14H23M1 9H4M1 14H4M6 4H18C19.1046 4 20 4.89543 20 6V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V6C4 4.89543 4.89543 4 6 4ZM9 9H15V15H9V9Z" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                              <clipPath id="clip0_1_25524">
                                <rect width="24" height="24" fill="white"/>
                              </clipPath>
                            </defs>
                          </svg>
                        </div>
                        </svg>
                    </div>

                    <h3 style=" max-width: 300px; width: 100%;">AI Generated Exam Papers</h3>
                    <h5 style=" max-width: 300px; width: 100%;">Unlock a world of AI curated exam papers that challenge and inspire your intellect.</h5>
                </div>

                <div class="grid-item">
                    <div class="featured-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                        <rect x="4" y="4" width="48" height="48" rx="24" fill="#F4EBFF"/>
                        <rect x="4" y="4" width="48" height="48" rx="24" stroke="#F9F5FF" stroke-width="8"/>
                        <div class="featured-item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="featured-item-icon">
                                <path d="M13 2L3 14H12L11 22L21 10H12L13 2Z" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        </svg>
                    </div>

                    <h3 style=" max-width: 300px; width: 100%;">AI Generated Quizzes</h3>
                    <h5 style=" max-width: 300px; width: 100%;">Engage your mind with AI curated quizzes, where every question ignites curiosity and every answer sparks knowledge.</h5>
                </div>

                <div class="grid-item">
                    <div class="featured-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                        <rect x="4" y="4" width="48" height="48" rx="24" fill="#F4EBFF"/>
                        <rect x="4" y="4" width="48" height="48" rx="24" stroke="#F9F5FF" stroke-width="8"/>
                        <div class="featured-item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="featured-item-icon">
                                <path d="M13.3248 10.6752L5.44059 18.5594L13.3248 10.6752Z" fill="#D9D9D9"/>
                                <path d="M6.29145 12.8375L2.42965 11.9253C2.00478 11.825 1.85535 11.2975 2.16313 10.9886L5.23428 7.91744C5.44059 7.71113 5.72049 7.59293 6.01378 7.59069L9.47635 7.56059" fill="#D9D9D9"/>
                                <path d="M21.0629 8.35012L21.9639 4.01437C22.2093 2.83454 21.1655 1.79075 19.9856 2.03608L15.6499 2.93713C14.373 3.20254 13.2021 3.83483 12.281 4.75707L8.72362 8.31332C7.36647 9.67047 6.48326 11.4302 6.20447 13.3293L6.19221 13.4107C6.01601 14.6229 6.42193 15.8462 7.28729 16.7127C8.15266 17.5781 9.3771 17.984 10.5893 17.8067L10.6707 17.7944C12.5698 17.5167 14.3295 16.6324 15.6867 15.2753L19.2429 11.719C20.1652 10.7979 20.7975 9.62698 21.0629 8.35012Z" fill="#D9D9D9"/>
                                <path d="M13.8377 3.59842C16.4149 5.35591 18.6441 7.58512 20.4016 10.1623L13.8377 3.59842Z" fill="#D9D9D9"/>
                                <path d="M11.1614 17.7085L12.0736 21.5703C12.1739 21.9952 12.7014 22.1447 13.0103 21.8369L16.0814 18.7657C16.2878 18.5594 16.406 18.2795 16.4082 17.9862L16.4383 14.5236" fill="#D9D9D9"/>
                                <path d="M13.3248 10.6752L5.44059 18.5594M6.29145 12.8375L2.42965 11.9253C2.00478 11.825 1.85535 11.2975 2.16313 10.9886L5.23428 7.91744C5.44059 7.71113 5.72049 7.59292 6.01378 7.59069L9.47635 7.56059M13.8377 3.59842C16.4149 5.35591 18.6441 7.58512 20.4016 10.1623M11.1614 17.7085L12.0736 21.5703C12.1739 21.9952 12.7014 22.1447 13.0103 21.8369L16.0814 18.7657C16.2878 18.5594 16.406 18.2795 16.4082 17.9862L16.4383 14.5236M21.0629 8.35012L21.9639 4.01438C22.2093 2.83454 21.1655 1.79075 19.9856 2.03608L15.6499 2.93713C14.373 3.20254 13.2021 3.83483 12.281 4.75707L8.72362 8.31332C7.36647 9.67047 6.48326 11.4302 6.20447 13.3293L6.19221 13.4107C6.01601 14.6229 6.42193 15.8462 7.28729 16.7127C8.15266 17.5781 9.3771 17.984 10.5893 17.8067L10.6707 17.7944C12.5698 17.5167 14.3295 16.6324 15.6867 15.2753L19.2429 11.719C20.1652 10.7979 20.7975 9.62698 21.0629 8.35012Z" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                        </div>
                        </svg>
                    </div>

                    <h3 style=" max-width: 300px; width: 100%;">AI Enhanced Revision</h3>
                    <h5 style=" max-width: 300px; width: 100%;">Elevate your revision game with AI powered insights tailored to your unique learning style.</h5>
                </div>
                
                
               
                
            </div>
            
        </div>
        <%- include('../partials/footer'); %>

    
    
</body>
</html>
