<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/navbar'); %>
</head>
<body>
    <div style="width: 80vw;position: relative; left: 10vw; display: flex; flex-direction: column; align-items: center; position: relative;">
        <h2>Welcome to SoluPrep AI: Empowering Your Educational Journey</h2>
        <h6 style="width: 700px; text-align: center; font-size: 16px; margin-top: 0px;">At SoluPrep AI, we believe in the transformative power of education. Our platform is meticulously crafted to enhance your learning experience, providing a dynamic and personalized approach to exam preparation. Whether you're navigating the challenges of GCSE or A-level studies, SoluPrep AI is your dedicated companion on the path to academic success.</h5>
        <h2 >Our Mission:</h2>
        <h6 style="width: 700px; text-align: center; font-size: 16px; margin-top: 0px;">Our mission is to revolutionize the way students prepare for exams. We understand the diverse needs of learners, and SoluPrep AI is designed to cater to those needs. Through cutting-edge AI technology, we aim to make exam preparation not only effective but also engaging and tailored to each student's unique learning style.</h6>
        <ul style="list-style: none;" >
            <h3>Key Features:</h3>
            <li style="width: 500px; ">
                <h4>Smart Question Generation:</h4>
                <p style="width: 100%; text-align: center;">SoluPrep AI generates a variety of question formats, ensuring a comprehensive understanding of subjects.</p>
            </li>

            <li style="width: 500px;">
                <h4>Customizable Exam Papers:</h4>
                <p style="width: 100%; text-align: center;">Build exam papers with ease, including detailed mark schemes and worked solutions.</p>
            </li>

            <li style="width: 500px;">
                <h4>Customizable Exam Papers:</h4>
                <p style="width: 100%; text-align: center;">Build exam papers with ease, including detailed mark schemes and worked solutions.</p>
            </li>

            <li style="width: 500px;">
                <h4>Personalized Revision:</h4>
                <p style="width: 100%; text-align: center;">Tailor your revision materials, create study plans, and access resources that align with your academic goals.</p>
            </li>

            <li style="width: 500px;">
                <h4>Real-Time Feedback:</h4>
                <p style="width: 100%; text-align: center;">Receive instant feedback on quizzes and exams, allowing you to track your progress and focus on improvement areas.</p>
            </li>
        </ul>

        <h2 >Join Us in Shaping the Future of Education:</h2>
        <h6 style="width: 700px; text-align: center; font-size: 16px; margin-top: 0px;">SoluPrep AI is more than a platform; it's a community of learners dedicated to excellence. Join us in the pursuit of knowledge, and let SoluPrep AI be your trusted guide as you navigate the challenges and triumphs of your academic journey.
            </h6>
        <h6 style="margin-top: 0;">Thank you for choosing SoluPrep AI. Let's embark on this educational adventure together!</h6>
        
    
    
    
    </div>


    
    <%- include('../partials/footer'); %>
</body>

</html>