<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MB65CC4F');
    </script>
    <!-- End Google Tag Manager -->
    
    <%- include('../partials/navbar'); %>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB65CC4F"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="flex" style="flex-direction: column;">

        <div class="frame" id="pricingHeadings">
            <h5 style="color: var(--primary-700, #6941C6); font-weight: 600; font-size: 14px; text-align: start; margin-bottom: 0;">Pricing</h5>
            <h2 style="text-align: start; margin: 0; width: fit-content;">Simple, transparent pricings</h2>
            <h5 style="text-align: start; margin: 0;">We believe SoluPrep AI should be accessible to everyone</h5>
        </div>

        <!-- Basic Plan -->
        <div class="pricingGrid">
            <div class="grid-item card">
                <h2 style="margin: 1rem;">Free</h2>
                <h3 style="margin: 0; text-align: center;">Basic Plan</h3>
                <h5 style="margin: 0;">Billed Monthly</h5>

 
                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">4 Revision Topics</p>
                </div>
                
                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Basic Exam Paper Generation</p>
                </div>
                
                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Quizzes Up To 10 Questions</p>
                </div>

                <button class="secondary purchaseButton" id="price_1OORHDE0TEj3ghXuQsWhJcJN" style="width: calc(100% - 20px); margin-bottom: 20px; margin-top: 80px;">Get Started</button>
                    
            </div>

            <!-- Pro Plan -->
            <div class="grid-item card">
                <h2 style="margin: 1rem;">£10/mth</h2>
                <h3 style="margin: 0; text-align: center;">Pro Plan</h3>
                <h5 style="margin: 0;">Billed Monthly</h5>

                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">AI Enhanced Revision</p>
                </div>
                
                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Unlimited Question Types</p>
                </div>
                
                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Quizzes Up To 50 Questions</p>
                </div>

                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Performance Insights And Tracking</p>
                </div>
                
                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Solutions Provided</p>
                </div>

                <button class="secondary purchaseButton" id="price_1OONE2E0TEj3ghXu0bSGXKGv"style="width: calc(100% - 20px); margin-bottom: 20px;">Get Started</button>
            </div>

            <!-- Premium Plan -->
            <div class="grid-item card">
                <h2 style="margin: 1rem;">£25/mth</h2>
                <h3 style="margin: 0; text-align: center;">Premium Plan</h3>
                <h5 style="margin: 0;">Billed Monthly</h5>

                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Advanced Learning</p>
                </div>
                
                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Full Exam Paper Creation</p>
                </div>
                
                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Quizzes Up To 100 Questions</p>
                </div>

                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Personalised Study Pathways</p>
                </div>
                
                <div class="check-frame">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect width="24" height="24" rx="12" fill="#D1FADF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0964 7.39004L9.93638 14.3L8.03638 12.27C7.68638 11.94 7.13638 11.92 6.73638 12.2C6.34638 12.49 6.23638 13 6.47638 13.41L8.72638 17.07C8.94638 17.41 9.32638 17.62 9.75638 17.62C10.1664 17.62 10.5564 17.41 10.7764 17.07C11.1364 16.6 18.0064 8.41004 18.0064 8.41004C18.9064 7.49004 17.8164 6.68004 17.0964 7.38004V7.39004Z" fill="#12B76A"/>
                    </svg>
                    <p style="margin: 0;">Early Access To New Features</p>
                </div>

                <button class="secondary purchaseButton" id="price_1OONH1E0TEj3ghXuutoqvAAg" style="width: calc(100% - 20px); margin-bottom: 20px;">Get Started</button>
            </div>
        </div>
        <%- include('../partials/footer'); %>
    </div>
    
</body>
</html>


<style>
    #pricingHeadings{
        width: calc(100% - 200px);
    } 

    @media (max-width: 768px) {
        #pricingHeadings{
            width: calc(100% - 100px);
        } 
    }
    
</style>

<script>
    const purchaseButtons = document.querySelectorAll(".purchaseButton");

    purchaseButtons.forEach(purchaseButton => {
        purchaseButton.addEventListener("click", () => {
            const buttonId = purchaseButton.id;

            fetch("/create-checkout-session", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    items: [
                        { id: buttonId, quantity: 1 }
                    ]
                })
            }).then(res => {
                if (res.ok) return res.json();
                return res.json().then(json => Promise.reject(json));
            }).then(({ url }) => {
                window.location = url;
            }).catch(e =>{
                
            })
        });
    });
</script>
